// Navbar for the site

mixin searchResultsCardBuilder(name, image, jobTitle, phone, email)
  .col.s4
    .card
      .card-content
        .row
          .col.s4
            img.circle(src=image)
          .col.s8.push-s2
            h6.bold= name
            h6.bold= jobTitle
            
            br
            h7 #{phone}            
            h7 #{email}


// Modal Structure
#search_results_modal.modal.bottom-sheet
  .modal-content
    h4 Search Results
    
    .row 
      +searchResultsCardBuilder('Penny Tool', 'images/search-results/penny1.jpg', 'Lecturer', '07734389157', 'PTool@brookes.ac.uk')
      +searchResultsCardBuilder('Penny Johnson', 'images/search-results/penny2.jpg', 'Student', '077111189157', 'PJohnson@brookes.ac.uk')
      +searchResultsCardBuilder('Penny Smith', 'images/search-results/penny3.jpg', 'Lecturer', '02234389857', 'PSmith@brookes.ac.uk')
      

.navbar-fixed
  nav
    .nav-wrapper
      form(onsubmit="return false")
        .input-field
          input#search(type='search', onsearch='OnSearch(this);')
          label(for='search')
            i.material-icons search
          i.material-icons close



    script.
      
      function OnSearch(input) {
        if (input.value !== "") {
          console.log(input.value);
          $('#search_results_modal').openModal();
          return;
        }  
      }
      

        
      
    
